{{- if and .Values.operator.enabled (not .Values.operator.credentials.existingSecret) }}
{{- $p := .Values.operator.credentials.principal }}
{{- if and $p.id $p.name $p.publicKey $p.x25519PublicKey $p.privateKey $p.x25519PrivateKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "zopp.fullname" . }}-operator-credentials
  labels:
    {{- include "zopp.operator.labels" . | nindent 4 }}
type: Opaque
stringData:
  ZOPP_PRINCIPAL_ID: {{ $p.id | quote }}
  ZOPP_PRINCIPAL_NAME: {{ $p.name | quote }}
  ZOPP_PRIVATE_KEY: {{ $p.privateKey | quote }}
  ZOPP_PUBLIC_KEY: {{ $p.publicKey | quote }}
  ZOPP_X25519_PRIVATE_KEY: {{ $p.x25519PrivateKey | quote }}
  ZOPP_X25519_PUBLIC_KEY: {{ $p.x25519PublicKey | quote }}
{{- else if or $p.id $p.name $p.publicKey $p.x25519PublicKey $p.privateKey $p.x25519PrivateKey }}
{{- fail "operator.credentials.principal requires all 6 fields: id, name, publicKey, x25519PublicKey, privateKey, x25519PrivateKey" }}
{{- end }}
{{- end }}
