name: Build

on:
  push:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cargo build (release) - Unix (all workspace)
        if: runner.os != 'Windows'
        run: cargo build --workspace --all-targets --release --locked

      - name: Cargo build (release) - Windows (CLI only)
        if: runner.os == 'Windows'
        run: cargo build --package zopp-cli --all-targets --release --locked
